.property-detail-page-section {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
}

.property-images-container {
  display: flex;
  width: 100%;
  gap: 20px;
}

.property-info-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .property-detail-page-section {
    flex-direction: row;
  }

  .property-images-container {
    width: 60%;
  }

  .property-info-container {
    width: 40%;
  }
}